@font-face {
  font-family: "Basker";
  src: url("./assets/BaskervvilleSC-Regular.ttf");
}

@font-face {
  font-family: "ImFell";
  src: url("./assets/IMFellEnglish-Regular.ttf");
}

body {
  padding: 0;
  margin: 0;
  color: #e6e6e6;
  font-family: "Basker";
  font-size: 19px;
  line-height: 22px;
}

::-webkit-scrollbar { 
  background: rgba(0,0,0,0.3);
  width: 2vw;
}

::-webkit-scrollbar-thumb { 
  background: black;
  width: 2vw;
}

#page {
  background-image: url(assets/background.png);
  background-size: 110% 120%;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#logo {
  background-image: url(assets/logo.png);
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  top: 3vh;
  left: 5vw;
  width: 70vw;
  height: 20vw;
}

#players {
  position: absolute;
  right: 2vw;
  top: 13vh;
  display: flex;
  flex-direction: column;
}

.player {
  width: 8vw;
  height: 8vw;
  border-radius: 100%;
  margin-top: 3vw;
  overflow: hidden;
}

#textSection {
  color: #FFF1DB;
  font-size: 19px;
  position: absolute;
  left: 5vw;
  top: 13vh;
  width: 80vw;
  height: 45vh;
  overflow-y: auto;
  line-height: 22px;
}

#fullTextSection {
  color: #FFF1DB;
  font-size: 19px;
  position: absolute;
  left: 5vw;
  top: 13vh;
  width: 80vw;
  height: 70vh;
  overflow-y: auto;
  line-height: 22px;
}

#waitingForOtherPlayers {
  top: 70vh;
  position: absolute;
  left: 5vw;
  width: 70vw;
  
}

#playerInput {
  font-family: "Basker";
  color: #FFF1DB;
  font-size: 19px;
  top: 60vh;
  width: 70vw;
  position: absolute;
  left: 5vw;
  background: black;
  outline: none;
  border: none;
  padding: 3vw;
}

.term {
  background: black;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 1.5vw;
  border-radius: 3vw;
  height: 19px;
  display: inline-block;
}

.termAvatar {
  margin-left: 1vw;
  border-radius: 100%;
  transform: translate(5%, 35%);
  height: 14px;
  width: 14px;
  background: red;
  display: inline-block;
}

#suggestions {
  color: #FFF1DB;
  top: 70vh;
  width: 70vw;
  font-size: 16px;
  position: absolute;
  left: 5vw;
}

#suggestionsLabel {
  font-size: 14px;
  margin-bottom: 1vh;
}

#suggestionsList {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
}

#addButton {
  position: absolute;
  left: 5vw;
  top: 90vh;
}

#shareButton {
  position: absolute;
  left: 5vw;
  top: 85vh;
}

.suggestion {
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  background: #5D2825;
  margin-left: 2vw;
  border: 1px solid black;
  border-radius: 3vw;
  padding: 2vw;
  margin-bottom: 1vw;
}

#error {
  display: none;
  font-family: "Arial";
  font-size: 12px;
  color: white;
  background: #a62a29;
  border-radius: 2vh;
  top: 67vh;
  right: 15vw;
  z-index: 10;
  position: absolute;
  padding-left: 2vh;
  padding-right: 2vh;
}

#thinking {
  position: absolute;
  color: #FFF1DB;
  font-size: 19px;
  left: 10vw;
  top: 30vw;
  width: 70vw;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
      transform: scale(0.95);
  }

  70% {
      transform: scale(1.05);
  }

  100% {
      transform: scale(0.95);
  }
}

#intro {
  position: absolute;
  color: #FFF1DB;
  font-size: 19px;
  left: 5vw;
  top: 30vw;
  width: 70vw;
}

#startTheStory {
  position: absolute;
  font-size: 19px;
  left: 5vw;
  top: 70vw;
}

.storyButton span {
  display: inline-block;
  transform: translate(0, 65%);
}

.storyButton {
  font-family: "ImFell";
  background-image: url(assets/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 60px;
  text-align: center;
  color: black;
}

.screen {
  opacity: 0
}

.enabled {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.disabled {
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.off {
  pointer-events: none;
  opacity: 0;
}
